<header class="header">
  <section class="brand">
    <div class="container">
      <div class="content">
        <a class="brand-content" routerLink="/">
          <img class="logo" src="../../../assets/img/logo.svg" alt="Logo">
          <h1 class="title">Package Browser</h1>
        </a>

        <div class="search-box">
          <input id="search-field" autocomplete="off" required (focus)="loadSearchPage()">
          <label for="search-field">Search...</label>
        </div>
      </div>
    </div>
  </section>
</header>

<main>
  <section class="page-view">
    <div [class.page]="packages?.length">
      <div *ngIf="author; else basicAuthorInfo">
        <div class="page-header">
          <div class="author-info">
            <img *ngIf="(author.avatarUrl && author.avatarUrl !== ''); else defaultAvatar" class="author-avatar" width="150px" height="150px" src="{{author.avatarUrl}}" alt="">
            <ng-template #defaultAvatar><img class="author-avatar" width="150px" height="150px" src="../../../assets/img/icon-avatar.png" alt=""></ng-template>
            <div class="author-name">{{author.name}}</div>
            <div *ngIf="author.company && author.company !== ''" class="author-company-container"><img src="../../../assets/img/icon-company-20px.png" alt=""> <span>{{author.company}}</span></div>
            <div *ngIf="author.location && author.location !== ''" class="author-location-container"><img src="../../../assets/img/icon-location-20px.png" alt=""> <span>{{author.location}}</span></div>
            <a *ngIf="author.homepage && author.homepage !== ''" class="author-url" href="{{author.homepage}}" target="_blank">
              <img src="../../../assets/img/icon-globe-24px.png" alt="">
            </a>
          </div>
        </div>
      </div>

      <ng-template #basicAuthorInfo>
        <div *ngIf="packages?.length">
          <div *ngFor="let package of packages; let last=last">
            <div *ngIf="last">
              <div class="page-header">
                <div class="author-info">
                  <img class="author-avatar" width="150px" height="150px" src="../../../assets/img/icon-avatar.png" alt="">
                  <div *ngIf="(package.authorName !== ''); else authorUsername" class="author-name">{{package.authorName}}</div>
                  <ng-template #authorUsername>
                    <div class="author-name">{{package.authorUsername}}</div>
                  </ng-template>
                  <a class="author-email" href="mailto:{{package.authorEmail}}">{{package.authorEmail}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <div class="container">
        <div *ngIf="(packages?.length); else errorMsg">
          <div class="section-header" *ngIf="packages?.length">
            <div class="section-title">Listing <strong>{{totalPackages}}</strong> packages by this author</div>
            <div class="sort-box">
              <label for="sort-field">Sort by</label>
              <select id="sort-field" value={{sortBy}} #sortField (change)="sortPackages(sortField.value)">
                <option value="top">Top Overall</option>
                <option value="popularity">Popularity</option>
                <option value="quality">Quality</option>
                <option value="maintenance">Maintenance</option>
              </select>
            </div>
          </div>

          <div>
            <card *ngFor="let package of packages | paginate: { itemsPerPage: 18, currentPage: page, totalItems: totalPackages }" [package]="package" class="card"></card>
          </div>

          <div class="pagination-container">
            <pagination-controls maxSize="10" autoHide="true" (pageChange)="loadPage($event)"></pagination-controls>
          </div>
        </div>

        <ng-template #errorMsg>
          <div class="no-results">Ooops!<br><br>There are no packages published by this author!</div>
        </ng-template>
      </div>
    </div>
  </section>
</main>
