footer {
  background: #fff;
  font-size: 0.875em;
  padding: 15px 0;
  text-align: center;
}

.symbol {
  font-size: 1.25em;
  color: #e74c3c;
}

footer a,
footer a:active,
footer a:visited {
  color: #2c5499;
}

footer a:hover {
  text-decoration: underline;
}

.credits {
  margin-bottom: 10px;
}

.credits img {
  vertical-align: middle;
}

.credits a {
  margin-right: 8px;
}

.credits a:last-child {
  margin-right: 0;
}