<header class="header">
  <section class="brand">
    <div class="container">
      <div class="content">
        <a class="brand-content" routerLink="/">
          <img class="logo" src="img/logo.svg" alt="Logo">
          <h1 class="title">Package Browser</h1>
        </a>

        <div class="search-box" hidden>
          <input id="search-field" autocomplete="off" required #searchBox (keyup)="search(searchBox.value)">
          <label for="search-field">Search...</label>
        </div>
      </div>
    </div>
  </section>
</header>

<main>
  <section class="page-view">
    <div [class.page]="package !== undefined && package !== null">
      <div *ngIf="package; else errorMsg">
        <div class="page-header">
          <div class="pkg-info-container">
            <span class="pkg-full-name">{{package.name}}</span>
            <sub class="pkg-version-info">{{package.version}}</sub>
          </div>

          <div class="pkg-written-by"><em>by</em></div>

          <div class="pkg-author-container">
            <a class="pkg-author" [routerLink]="['/author', package.authorName]">{{package.authorName}}</a>
          </div>
        </div>

        <div class="container">
          <div class="pkg-toolbar">
            <div class="row">
              <div class="col col-2">
                <div class="pkg-toolbar-heading">Overview</div>
              </div>

              <div class="col col-2">
                <div class="pkg-btn-container">
                  <a *ngIf="package.homepage && package.homepage !== ''" class="pkg-home-page btn" href="{{package.homepage}}" target="_blank">
                    <img src="img/icon-globe-20px.png" alt="">
                    <span>Website</span>
                  </a>

                  <a *ngIf="package.repoUrl && package.repoUrl !== ''" class="pkg-git-page btn" href="{{package.repoUrl}}" target="_blank">
                    <img *ngIf="(package.repoType === 'git'); else repoIcon" src="img/icon-github-24px.png" width="20px" height="20px" alt="">
                    <ng-template #repoIcon>
                      <img src="img/icon-repo-20px.svg" alt="">
                    </ng-template>
                    <span *ngIf="(package.repoType === 'git'); else repoText">GitHub</span>
                    <ng-template #repoText>
                      <span>Repository</span>
                    </ng-template>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="pkg-overview">
            <div class="row">
              <div class="col col-2">
                <div class="pkg-description">{{package.desc}}</div>
              </div>

              <div class="col col-2">
                <div class="pkg-details-card">
                  <div class="pkg-details-card-header">Download</div>

                  <div class="pkg-npm-install">npm install <span class="pkg-full-name">{{package.name}}</span></div>

                  <a class="pkg-git-download btn" href="{{package.downloadUrl}}" target="_blank">
                    <img src="img/icon-download-20px.png" alt="">
                    <span>Download</span>
                  </a>
                </div>

                <div class="pkg-details-card">
                  <div class="pkg-details-card-header">Activity</div>

                  <div class="pkg-activity-info">
                    <img src="img/icon-sync-20px.svg" alt="">
                    <span class="pkg-updated-date">Last updated <strong>{{package.prettyLastModifiedTime}}</strong></span>
                  </div>

                  <div class="pkg-activity-info">
                    <img src="img/icon-clock-20px.svg" alt="">
                    <span class="pkg-created-date">Created <strong>{{package.prettyPublishDate}}</strong></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #errorMsg>
        <div class="no-results">Ooops!<br><br>There is no package found with the given name!</div>
      </ng-template>
    </div>
  </section>
</main>
